<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/ngDialog.css" />
	<link rel="stylesheet" type="text/css" href="css/ngDialog-theme-default.css" />
	<link rel="stylesheet" type="text/css" href="myStyles.css" />
	
<!--AngularJS functions -->	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
	<script src="js/ngDialog.js"></script>
	<script type="text/javascript" src="js/myFunctions.js"></script>	
	<title>Practitioner-led action research project</title>
</head>
<body ng-app="AngularAnimation">
<div class="container-fluid">
	<div id="nav" class="row-fluid span12 navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li ><a href="index.html" class="home" >Home</a>
				<li class="divider-vertical"></li>
				<li><a href="LitReview.html">Literature Review</a></li>
				<li class="divider-vertical"></li>				
				<li><a href="bibliography.html">Bibliography</a></li>
				<li class="divider-vertical"></li>				
				<li class="active"><a href="#">Progress Blog</a></li>
			</ul>
		</div>
	</div>
	<div id="header" class="span12">
		<h2><strong>Progress</strong></h2>
		&nbsp;&nbsp;
	</div>
	<div id="section" class="span12" ng-controller="SlideCtrl">
		<form ng-show="ready" class="">
			<div class="switch" ng-switch='article' ng-animate="'animate'">
				<!-- ngSwitchWhen: 1 -->
				<div ng-switch-when="1">
					<div class="span9"><h3 class="leftalign"><strong>Beginnings</strong></h3></div>
					<div class="span2"><a class="btn" href="#" ng-click="nextClicked()"><strong>Next</strong></a></div>
					&nbsp;
					<hr />
					<p>I have conducted my initial survey and focus group interviews and I am now recording and categorising 
					the results from these.  I was particularly interested in the findings of Hoskins and Newstead (2009) 
					on student motivation in higher education.  They found that students can become amotivated, defined 
					as an absence of motivation (Ryan and Deci, 2000), sometimes as a result of learning experiences.  
					These students may not know why they are on their current course of study, may feel incompetent 
					or may feel that their learning is out of their control.  They may have lost motivation due to poor 
					feedback, high workload or a perception of irrelevance of their learning to their personal goals.</p>
					&nbsp;
					<p>This project is being run at a time when students have a high workload.  There is also a general view 
					(anecdotal) within the target student population that feedback on their work throughout the course has 
					been mixed and, in some parts, very poor.  There has been a noticeable effect on student motivation of 
					delays in giving feedback on assessed work and this theme permeates through discussions and survey results.</p>
					&nbsp;
					<p>The first student survey  (https://docs.google.com/forms/d/1ZrYz5bPuVyplOYM40mY1SmrsTutKqT9mXlusEQG0pxM/viewform) 
					questioned students motivation for joining the course, methods of working on assessment material, use of feedback 
					and aspirations towards achieving high grades.</p>
					&nbsp;
					<p>A student who joined the course as part of a deliberately chosen career path may be more inclined 
					to view employer involvement as more vocationally relevant and, more motivational (Hoskins and Newstead, 
					2009).  A local web and software developer, who has worked on some big projects and is keen to be 
					involved, will be delivering a couple of workshop sessions for students to help them to learn WordPress 
					and to help them to learn about the process of developing a website from client requirements to initial 
					prototypes.  Bursary funding allowed me to set up the workshops as paid sessions and to fund some office 
					space to give a more real world feel to the process.  Meetings with the client for the website will add 
					to the real world experience.</p>
					&nbsp;
				</div>
				<!-- ngSwitchWhen: 2 -->
				<div ng-switch-when="2">
					<div class="span9"><h3 class="leftalign"><strong>Initial data collection</strong></h3></div>
					<div class="span2"><a class="btn" href="#" ng-click="nextClicked()"><strong>Next</strong></a></div>
					&nbsp;
					<hr />
					<p>The sample population was the whole population of two groups of BTEC Level 3 Extended/Diploma in IT 
					students.  Both groups have been taught by me for two units.  Unit 6, Software Design and Development, 
					was delivered and assessed in the first half of the 2013-2014 academic year.  For their assessment 
					students were expected to build a portfolio and also to complete a final project which incorporated all 
					the skills covered by the unit.  The portfolio was built throughout the unit with work set regularly as 
					homework.  Students were given an 'achieved' or 'not achieved' result and then had the opportunity to 
					return to that piece of homework and to improve it if they wished to do so.  Skills and knowledge were 
					assessed in a number of homework tasks so that a student did not need to return to all tasks in order 
					to build their portfolio but could be assessed on a 'best piece of work' for each assessment criteria.  
					Unit 28, Website Development, was delivered and assessed in the second half of the 2013-2014 academic 
					year.  For assessment of the web development unit, two assignments were delivered in the first stage of 
					the unit.  These were delivered in a way that matched the other units that students have taken on the 
					BTEC Level 3 Extended Diploma/Diploma in IT, this being that the assignments were designed to assess 
					named criteria, were set a first deadline and then a second deadline for submission of an improved 
					version, which all students expect to make unless they achieve a pass on the first submission, when 
					some choose not to resubmit.</p>
					&nbsp;
					<p>A third group also took both units with me but this group started both units at the beginning of 
					the academic year, with the website development unit continuing throughout the year.  This group were 
					already working on a different project.  To be part of this research project, the students needed to be 
					in one of the groups studying Website Development only in the second half of the year.</p>
					&nbsp;
					<p>The opportunistic sample of two groups created the total population and every student in these 
					two groups was selected.  The total number of students in the sample population is 27, 11 in one 
					group and 16 in the other.</p>
					&nbsp;
				</div>				
				<!-- ngSwitchWhen: 3 -->
				<div ng-switch-when="3" ng-controller="dialogCtrl">
					<div class="span9"><h3 class="leftalign"><strong>Empirical deadline meeting data</strong></h3></div>
					<div class="span2"><a class="btn" href="#" ng-click="nextClicked()"><strong>Next</strong></a></div>
					&nbsp;
					<hr />
					<p>Data relating to students meeting deadlines was collected from my own records, verified by 
					checking the online upload records.  When students submit work for marking they will upload it to 
					an area on the college's Virtual Learning Environment (VLE), Moodle which has been set up for this 
					purpose.  There is one area for each assignment or task.  When tasks/assignments are assessed, the 
					outcome is recorded on a spreadsheet by the assessor (in this case myself).  A comment is recorded 
					in the assignment area on Moodle.  If a second attempt is made then I would normally record the date 
					in my feedback.</p>
					&nbsp;
					<p>During the delivery of the two units, twelve 'homework' tasks were set, one final project for 
					Unit 6 and two assignments for Unit 28.  These 15 pieces of work, although of differing sizes, 
					difficulties and topics, were recorded simply as being handed in on time, resubmitted with improvements, 
					handed in late or not handed in at all.  This is a simplification of the process and doesn't take into 
					account students who struggled with gaining the skills or understanding, students who may have 
					experienced external difficulties that affected their ability to submit work or students who may not 
					have made a significant effort on first submission of their work, choosing to gain an advantage by 
					using the feedback given by the assessor.  This data is not available for analysis.</p>
					&nbsp;
					<p>Data relating to student submission of work was encoded as shown in 
					<button><a href="#" ng-click="open('table1Dialog')" class="demo">Table 1</a></button>							
					Once each piece of work had been encoded, a summary assessment of the performance of each student 
					was made.  This was done by applying the weighting to the data relating to each piece of work and 
					calculating the sum of the weightings.</p>
					&nbsp;
					<p>From this collated data a set of five categories were calculated.  Each student's performance 
					across 15 tasks (12 homework tasks, two assignment tasks and one final project task) was assessed by 
					adding the weighted values for each task from the table above.
					<button><a href="#" ng-click="open('table2Dialog')" class="demo">Table 2</a></button> shows how each 
					student was placed into a category according to their final score.</p>					
					&nbsp;
					<p><button><a href="#" ng-click="open('fig1Dialog')" class="demo">Fig 1</a></button>
						shows the distribution of students across the five categories. The data indicates that over half of the sample population (n=14) 
						consistently met deadlines. Around one third (n=9) often or sometimes missed deadlines. A small number of students (n=4)
						consistently missed deadlines.</p>			
				</div>
				<!-- ngSwitchWhen: 4 -->
				<div ng-switch-when="4" ng-controller="dialogCtrl">
					<div class="span9"><h3 class="leftalign"><strong>Empirical deadline meeting data</strong></h3></div>
					<div class="span2"><a class="btn" href="#" ng-click="nextClicked()"><strong>Next</strong></a></div>
					&nbsp;
					<hr />
					<div class="row-fluid span12">
						<div class="span6">
							<h3 class="leftalign"> Why did students take this course?</h3>
							<p>A good proportion of students (45%, n=9) joined the course believing that it would help them to get a job in the 
							IT industry.  One student joined believing that it would help him/her to get a well paid job.  The question did not 
							specify whether or not the well paid job would be in the IT industry but there is anecdotal evidence to suggest 
							that student perceive the IT industry to be generally well paid.  A similar proportion (40%, n=8) joined the course 
							for what might be classified as more intrinsic reasons relating to learning new skills or learning as much as they 
							could about the IT industry.</p>
							&nbsp;
							<p>An analysis of the responses grouped by relating reasons for joining the course to factors relating to working 
							specifically in the IT industry indicates that 65% (n=13) have a strong interest in working in the IT industry.  No 
							analysis of the perceptions of students relating to the IT industry or what it is was made.  Only one student indicated 
							that the course is a vehicle for progression to university education.  Of the students who participated in this survey, 
							four have applied for a place at university but only one cited this as a reason for joining the course.</p>
							&nbsp;
						</div>
						<div class="span6">
							<button><a href="#" ng-click="open('fig2Dialog')" class="demo">Reasons for joining the course</a></button>							
						</div>
					</div>
					<div class="row-fluid span12">
						<div class="span6">
							<h3 class="leftalign"> How do students approach assignments?</h3>
							<p>Most students stated that they start to work on an assignment immediately (55%, n=11).  Four students (20%) stated 
							that they organised each assignment around others they had been set.  One quarter (n=5) of the participant population 
							reported that they left assignments until the deadline was close. A common complaint made by students is that a cut-off 
							time of 5.50pm on an assignment hand in day is too early and that they need the evening of a deadline date to make sure 
							that they finish the work in time.  Of those who said they started an assignment immediately, two students qualified this 
							by saying that they "start it when given, finish near deadline" or that they "make a start to an assignment as soon as 
							possible, but work on others".  Responses help to reinforce the problem that students have in organising their time when 
							they have a heavy assignment workload.  Although staff make every effort to ensure that assignment deadlines are evenly 
							spread, these deadlines overlap and this gives the impression that there is a lot of work to be completed at once, 
							resulting in amotivation in some students who may then not meet any deadline at all.</p>
							&nbsp;
						</div>
						<div class="span6">
							<button><a href="#" ng-click="open('fig3Dialog')" class="demo">Reasons for joining the course</a></button>							
						</div>
					</div>
					<div class="row-fluid span12">
						<div class="span6">
							<h3 class="leftalign"> Do students meet deadlines?</h3>
							<p>Interestingly, no student answered that they rarely missed deadlines.  The empirical data collected in relation 
							to submission of work by the deadline indicates that three students from those who responded to the survey consistently 
							missed deadlines and therefore rarely met them.  These students answered that they sometimes met deadlines and so there 
							may have been a difference in interpretation arising from the positive and negative connotations of the words "sometimes" 
							and "rarely".  No attempt was made to quantify these terms for students responding to the survey and so it is possible 
							that these students did have an accurate concept of their hand in rate but interpreted the wording in an unexpected way.  On
							verification of empirical data relating to meeting deadlines, other staff members rated students more favourably and this is probably due
							to the different ways that staff deal with students. One member of staff gets students to complete all assignment work in class and lets
							them leave the class once the work is in and checked.  I tend to use class time for learning and to set assignment work for students to do in 
							their study time. This is bound, then, to affect the rate of deadline meeting but may affect a student's perception of how often they 
							meet deadlines.</p>
							&nbsp;
							<p>Students perceptions of how often they meet deadlines differed from mine in nine students who all assessed their deadline meeting 
							rate as higher than my assessment.  I had given a rating of 3 to one of these students but the other eight students had ratings of 4 or 5. 
							No student with a rating of 4 or 5 who completed the questionnaire rated their deadline meeting the same or lower than mine.
						</div>
						<div class="span6">
							<button><a href="#" ng-click="open('fig3Dialog')" class="demo">Reasons for joining the course</a></button>							
						</div>
					</div>										
				</div>
				
					<script type="text/ng-template" id="table1Dialog">
						<div class="ngdialog-message">
							<h2>Table 1</h2>
							<div><img src="images/Table1.JPG" alt="Raw data" /></div>
						</div>
					</script>
					<script type="text/ng-template" id="table2Dialog">
						<div class="ngdialog-message">
							<h2>Table 2</h2>
							<div><img src="images/Table2.jpg" alt="Weighted categorised deadline data" /></div>
						</div>
					</script>
					<script type="text/ng-template" id="fig1Dialog">
						<div class="ngdialog-message">
							<h2>Fig 1</h2>
							<div><img src="images/Fig1.png" alt="Category pie chart" /></div>
						</div>
					</script>	

					<script type="text/ng-template" id="fig2Dialog">
						<div class="ngdialog-message">
							<h2>Fig 2</h2>
							<div><img src="images/Fig2.png" alt="Reasons for joining pie chart" /></div>
						</div>
					</script>
					<script type="text/ng-template" id="fig3Dialog">
						<div class="ngdialog-message">
							<h2>Fig 2</h2>
							<div><img src="images/Fig3.png" alt="Reasons for joining pie chart" /></div>
						</div>
					</script>		
			</div>
		</form>
		</div>
	</div>
</div>	
</body>
</html>	
